<div class="entirePage">
    <main class="container" >
        <button 
            mat-flat-button color = "accent"
            (click)="onAdd()"
            class="addButton"
            routerLink="/add">
            Add Assignment
        </button>
        <mat-tab-group>
            <mat-tab label="Due">
                <div *ngFor="let assignment of assignments" class="matCardContainer">
                <mat-card *ngIf="assignment.submitted == false">
                    <div classs="header" >
                        <mat-card-title>{{assignment.name}}</mat-card-title>
                        <mat-card-subtitle 
                            [ngClass]="{'submitted': assignment.submitted === true,
                            'unsubmitted': assignment.submitted === false}"
                            *ngIf="assignment.submitted == false"> 
                            DUE ON: {{assignment.dueDate | date}}
                        </mat-card-subtitle>
                    </div>
                    <mat-card-content *ngIf="assignment.submitted == true">
                        Great job! You have already submitted your assignment.<br>
                        No further action needed!
                    </mat-card-content>
                    <mat-card-content *ngIf="assignment.submitted == false">
                        Assignment submitted after the Due Date<br>
                        shall be penalized!
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="updateItem">
                            <button 
                                mat-flat-button color="primary"
                                (click)="setAssignment(assignment)"
                                >DETAILS
                            </button>
        
                            <button
                                mat-flat-button color="warn"
                                (click)="onDelete(assignment._id)"
                                >DELETE
                            </button>
                        </div>
                    </mat-card-actions>
                    <mat-card-footer class="footer">
                        University of Texas at Arlington
                    </mat-card-footer>
                </mat-card>
            </div>
            </mat-tab>
            <mat-tab label="Submitted">
                <div *ngFor="let assignment of assignments" class="matCardContainer">
                    <mat-card *ngIf="assignment.submitted == true">
                        <div classs="header" >
                            <mat-card-title>{{assignment.name}}</mat-card-title>
                            <mat-card-subtitle 
                                [ngClass]="{'submitted': assignment.submitted === true,
                                'unsubmitted': assignment.submitted === false}"
                                > 
                                SUBMITTED
                            </mat-card-subtitle>
                        </div>
                        <mat-card-content *ngIf="assignment.submitted == true">
                            Great job! You have already submitted your assignment.<br>
                            No further action needed!
                        </mat-card-content>
                        <mat-card-content *ngIf="assignment.submitted == false">
                            Assignment submitted after the Due Date<br>
                            shall be penalized!
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="updateItem">
                                <button 
                                    mat-flat-button color="primary"
                                    (click)="setAssignment(assignment)"
                                    >
                                    DETAILS
                                </button>
                                <button
                                    mat-flat-button color="warn"
                                    (click)="onDelete(assignment._id)"
                                    >
                                    DELETE
                                </button>
                            </div>
                        </mat-card-actions>
                        <mat-card-footer class="footer">
                            University of Texas at Arlington
                        </mat-card-footer>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>           
    </main>
    </div>
    
    